<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.auctionhouseapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_TO_NETWORK_STATE" />

    <application
        android:icon="@drawable/auction_app_face"
        android:label="@string/app_name"
        android:theme="@style/Theme.AuctionHouseApp">
        <activity
            android:name=".SplashingScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CustomerActivity"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".HouseActivity" />
        <activity android:name=".CreateDayActivity" />
    </application>

</manifest>