<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.auctionhouseapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_TO_NETWORK_STATE" />

    <application
        android:icon="@drawable/auction_app_face"
        android:label="@string/app_name"
        android:theme="@style/Theme.AuctionHouseApp">
        <activity
            android:name=".Activities.SplashingScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.CustomerActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.HouseActivity" />
        <activity android:name=".Activities.CreateDayActivity" />
        <activity android:name=".Activities.ViewDay" />
        <activity android:name=".Activities.ItemsList" />
        <activity android:name=".Activities.HouseInformationActivity" />
        <activity android:name=".Activities.CustomerDaysListActivity" />
        <activity android:name=".Activities.CustomerItemsListActivity" />
    </application>

</manifest>